Файл для создания датасета из малых csv файлов

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_stats = pd.read_csv("small_player_starts_train.csv")
df_emotions = pd.read_csv("emotions.csv")

In [3]:
df_stats.head()

,date,user_id,item_id,watch_time,is_autorized
0,2023-08-21 15:53:30+03:00,user_7941459,video_1535803,22,0
1,2023-08-21 16:17:58+03:00,user_17893165,video_796847,374,0
2,2023-08-21 21:18:12+03:00,user_25219604,video_1905049,11,0
3,2023-08-21 01:06:10+03:00,user_24477183,video_1156618,1,0
4,2023-08-21 17:24:32+03:00,user_25483180,video_500499,20,0

In [4]:
# Фильтр реакций по 21.08.2023
df_emotions = df_emotions[(df_emotions['date'] >= '2023-08-21') & (df_emotions['date'] < '2023-08-22')]

In [5]:
df_emotions[df_emotions.duplicated(subset=['user_id', 'item_id'],keep=False)].sort_values(by=['user_id','item_id'])

,date,user_id,item_id,type,emoji
86343,2023-08-21 17:22:11+03:00,user_10012865,video_2177347,v_top,v_top
109499,2023-08-21 17:22:10+03:00,user_10012865,video_2177347,pos_emotions,Heart
97709,2023-08-21 13:50:07+03:00,user_10012865,video_320208,v_top,v_top
308864,2023-08-21 13:50:13+03:00,user_10012865,video_320208,pos_emotions,Like
10212,2023-08-21 00:09:34+03:00,user_10021075,video_2138244,v_top,v_top
...,...,...,...,...,...
308853,2023-08-21 14:31:37+03:00,user_9942135,video_320208,pos_emotions,New_Fire
94074,2023-08-21 06:07:26+03:00,user_9949652,video_839839,pos_emotions,Like
101253,2023-08-21 06:07:32+03:00,user_9949652,video_839839,v_top,v_top
108002,2023-08-21 20:53:36+03:00,user_9988260,video_940974,v_top,v_top
368512,2023-08-21 20:53:43+03:00,user_9988260,video_940974,pos_emotions,Happy_glasses

In [6]:
#pd.merge(df_stats, df_emotions,how='left', )

In [7]:
df_new_emo = df_emotions.copy(deep=True)

In [8]:
df_new_emo['type'].unique()

array(['v_top', 'pos_emotions', 'neg_emotions'], dtype=object)

In [9]:
df_new_emo

,date,user_id,item_id,type,emoji
73,2023-08-21 09:41:37+03:00,user_2142397,video_125790,v_top,v_top
79,2023-08-21 01:52:16+03:00,user_718921,video_125790,v_top,v_top
80,2023-08-21 10:59:20+03:00,user_21944136,video_125790,v_top,v_top
81,2023-08-21 12:50:33+03:00,user_24338405,video_125790,v_top,v_top
84,2023-08-21 16:19:43+03:00,user_26889771,video_125790,v_top,v_top
...,...,...,...,...,...
369106,2023-08-21 12:16:30+03:00,user_9694861,video_1739074,pos_emotions,Like
369137,2023-08-21 05:24:50+03:00,user_28179811,video_706182,pos_emotions,Like
369179,2023-08-21 07:05:23+03:00,user_11644428,video_706182,pos_emotions,Like
369218,2023-08-21 00:20:37+03:00,user_4565406,video_863664,pos_emotions,Like
369349,2023-08-21 08:11:12+03:00,user_7592585,video_1172738,pos_emotions,Like

In [10]:
df_new_emo['is_v_top'] = np.where(df_new_emo['type'] == 'v_top', 1, 0)
df_new_emo['pos_emo'] = np.where(df_new_emo['type'] == 'pos_emotions', df_new_emo['emoji'], '')
df_new_emo['neg_emo'] = np.where(df_new_emo['type'] == 'neg_emotions', df_new_emo['emoji'], '')

In [11]:
df_new_emo[df_new_emo.duplicated(subset=['user_id','item_id'],keep=False)].sort_values(by=['user_id','item_id'])

,date,user_id,item_id,type,emoji,is_v_top,pos_emo,neg_emo
86343,2023-08-21 17:22:11+03:00,user_10012865,video_2177347,v_top,v_top,1,,
109499,2023-08-21 17:22:10+03:00,user_10012865,video_2177347,pos_emotions,Heart,0,Heart,
97709,2023-08-21 13:50:07+03:00,user_10012865,video_320208,v_top,v_top,1,,
308864,2023-08-21 13:50:13+03:00,user_10012865,video_320208,pos_emotions,Like,0,Like,
10212,2023-08-21 00:09:34+03:00,user_10021075,video_2138244,v_top,v_top,1,,
...,...,...,...,...,...,...,...,...
308853,2023-08-21 14:31:37+03:00,user_9942135,video_320208,pos_emotions,New_Fire,0,New_Fire,
94074,2023-08-21 06:07:26+03:00,user_9949652,video_839839,pos_emotions,Like,0,Like,
101253,2023-08-21 06:07:32+03:00,user_9949652,video_839839,v_top,v_top,1,,
108002,2023-08-21 20:53:36+03:00,user_9988260,video_940974,v_top,v_top,1,,
368512,2023-08-21 20:53:43+03:00,user_9988260,video_940974,pos_emotions,Happy_glasses,0,Happy_glasses,

In [12]:
df_new_emo.agg({'pos_emo': 'sum', 'is_v_top':'sum', 'neg_emo': 'sum'})

pos_emo     LikeLikeLikeLikeLikeHappy_Star_glassesLikeLike...
is_v_top                                                 6481
neg_emo     SicknessDislikeAngryDislikeDislikeAngryDislike...
dtype: object

In [14]:
df_new_emo = df_new_emo.groupby(by=['user_id', 'item_id']).agg({'date': 'min','pos_emo': 'sum', 'is_v_top':'sum', 'neg_emo': 'sum'}).reset_index()

In [61]:
df_stats_grouped = df_stats.groupby(by=['user_id','item_id']).agg({'date': 'min', 'watch_time': 'sum', 'is_autorized':'sum'})

In [62]:
df_stats_grouped = df_stats_grouped.reset_index()

In [63]:
df_stats_grouped = df_stats_grouped[df_stats_grouped['is_autorized'] < 15]

In [64]:
df_stats_grouped.loc[df_stats_grouped.is_autorized > 0, 'is_autorized'] = 1

In [125]:
df2 = pd.merge(left=df_stats_grouped,right=df_new_emo,how='left',on=['user_id','item_id'])

In [126]:
df2 = df2.rename(columns={'date_x': 'date_watch', 'date_y': 'date_reaction'})

In [69]:
df_meta_video = pd.read_parquet('videos.parquet')

ArrowMemoryError: realloc of size 1056964608 failed

In [127]:
df2 = pd.merge(left=df2,right=df_meta_video, how='left', on='item_id')

In [128]:
df2['duration'] = df2['duration']/1000
df2['ctr.CTR_10days_21_07'] = df2['ctr.CTR_10days_21_07'].fillna(0)
df2['ctr.CTR_10days_01_08'] = df2['ctr.CTR_10days_01_08'].fillna(0)
df2['ctr.CTR_10days_10_08'] = df2['ctr.CTR_10days_10_08'].fillna(0)
df2['ctr.CTR_10days_21_08'] = df2['ctr.CTR_10days_21_08'].fillna(0)

In [129]:
#df2.head()

,user_id,item_id,date_watch,watch_time,is_autorized,date_reaction,pos_emo,is_v_top,neg_emo,video_title,...,video_description,category_title,publicated,duration,channel_sub,tv_sub,ctr.CTR_10days_21_07,ctr.CTR_10days_01_08,ctr.CTR_10days_10_08,ctr.CTR_10days_21_08
0,user_10000000,video_1487101,2023-08-21 20:25:47+03:00,2310,0,NaN,NaN,NaN,NaN,"Звезды в Африке, 3 сезон, 13 выпуск",...,Премьера! В третьем сезоне экстремально-приклю...,Телепередачи,2022-12-05 11:00:20+03:00,5377.480,75496,0,0.294598,0.260142,0.237338,0.252909
1,user_10000000,video_222807,2023-08-21 19:06:33+03:00,4611,0,NaN,NaN,NaN,NaN,Четыре свадьбы: Свадьбы в Турции,...,«Четыре свадьбы» отправляются в Турцию! Невест...,Телепередачи,2023-08-10 21:19:06+03:00,6919.000,16723,0,0.000000,0.000000,0.025105,0.039709
2,user_10000033,video_1761620,2023-08-21 07:02:56+03:00,196,0,NaN,NaN,NaN,NaN,Соловьёв LIVE | Круглосуточный канал,...,В прямом эфире Соловьёв LIVE – новости и размы...,Телепередачи,2022-10-14 12:06:53+03:00,0.000,343030,0,0.000000,0.000000,0.000000,0.000000
3,user_10000087,video_1106848,2023-08-21 03:55:46+03:00,490,0,NaN,NaN,NaN,NaN,КОЛЛЕКТИВ 2.0 ЗАПУЩЕН | Atomic Heart: Инстинкт...,...,"ЙОУ БЕЗРАБОТНЫЕ, это полное прохождение НОВОГО...",Видеоигры,2023-08-17 13:57:07+03:00,1059.917,19764,0,0.000000,0.000000,0.000000,0.010326
4,user_10000087,video_633280,2023-08-21 04:04:26+03:00,1,0,NaN,NaN,NaN,NaN,Atomic Heart - «Инстинкт Истребления» Прохожд...,...,Atomic Heart - «Инстинкт Истребления» Прохожд...,Видеоигры,2023-08-14 10:00:20+03:00,3286.529,59,0,0.000000,0.000000,0.000000,0.011585

In [130]:
df_live = df2[df2['duration'] == 0]

In [131]:
df_live = df_live.groupby('item_id').agg({'watch_time': 'max'}).reset_index()

In [132]:
df_live = df_live.rename(columns={'watch_time': 'live_duration'})

In [133]:
df2 = pd.merge(left=df2, right=df_live, on='item_id', how='left')

In [134]:
df2['duration'] = np.where(~df2['live_duration'].isna(), df2['live_duration'], df2['duration'])

In [136]:
df2 = df2.drop(columns=['live_duration'])

In [138]:
df2.to_csv('user_video_reaction_meta.csv')

In [140]:
df2

,user_id,item_id,date_watch,watch_time,is_autorized,date_reaction,pos_emo,is_v_top,neg_emo,video_title,...,video_description,category_title,publicated,duration,channel_sub,tv_sub,ctr.CTR_10days_21_07,ctr.CTR_10days_01_08,ctr.CTR_10days_10_08,ctr.CTR_10days_21_08
0,user_10000000,video_1487101,2023-08-21 20:25:47+03:00,2310,0,NaN,NaN,NaN,NaN,"Звезды в Африке, 3 сезон, 13 выпуск",...,Премьера! В третьем сезоне экстремально-приклю...,Телепередачи,2022-12-05 11:00:20+03:00,5377.480,75496,0,0.294598,0.260142,0.237338,0.252909
1,user_10000000,video_222807,2023-08-21 19:06:33+03:00,4611,0,NaN,NaN,NaN,NaN,Четыре свадьбы: Свадьбы в Турции,...,«Четыре свадьбы» отправляются в Турцию! Невест...,Телепередачи,2023-08-10 21:19:06+03:00,6919.000,16723,0,0.000000,0.000000,0.025105,0.039709
2,user_10000033,video_1761620,2023-08-21 07:02:56+03:00,196,0,NaN,NaN,NaN,NaN,Соловьёв LIVE | Круглосуточный канал,...,В прямом эфире Соловьёв LIVE – новости и размы...,Телепередачи,2022-10-14 12:06:53+03:00,70972.000,343030,0,0.000000,0.000000,0.000000,0.000000
3,user_10000087,video_1106848,2023-08-21 03:55:46+03:00,490,0,NaN,NaN,NaN,NaN,КОЛЛЕКТИВ 2.0 ЗАПУЩЕН | Atomic Heart: Инстинкт...,...,"ЙОУ БЕЗРАБОТНЫЕ, это полное прохождение НОВОГО...",Видеоигры,2023-08-17 13:57:07+03:00,1059.917,19764,0,0.000000,0.000000,0.000000,0.010326
4,user_10000087,video_633280,2023-08-21 04:04:26+03:00,1,0,NaN,NaN,NaN,NaN,Atomic Heart - «Инстинкт Истребления» Прохожд...,...,Atomic Heart - «Инстинкт Истребления» Прохожд...,Видеоигры,2023-08-14 10:00:20+03:00,3286.529,59,0,0.000000,0.000000,0.000000,0.011585
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006759,user_9999954,video_1541155,2023-08-21 10:06:17+03:00,22,0,NaN,NaN,NaN,NaN,Клеточная терапия стволовыми клетками. Сахарны...,...,15-ти летнее ретроспективное научное исследова...,Здоровье,2023-08-20 12:01:48+03:00,104.042,3,0,0.000000,0.000000,0.000000,0.000000
2006760,user_9999962,video_2177785,2023-08-21 11:03:36+03:00,21,0,NaN,NaN,NaN,NaN,Видеоурок №3.2 Прохождение самостоятельной раб...,...,Видеоурок №3.2 для обучающихся в ПС Обучение п...,Образование,2022-10-27 11:08:40+03:00,255.616,33330,0,0.063337,0.038339,0.053981,0.086685
2006761,user_9999974,video_380634,2023-08-21 10:56:28+03:00,33,1,NaN,NaN,NaN,NaN,Производство,...,None,Техника и оборудование,2023-08-14 21:32:59+03:00,40.209,0,0,0.000000,0.000000,0.000000,0.000000
2006762,user_9999977,video_291331,2023-08-21 09:29:39+03:00,1,0,NaN,NaN,NaN,NaN,Из-за чего на самом деле сорвалась свадьба Еле...,...,"Артистка рассказала, почему ей снова не повезл...",Разное,2022-03-03 17:16:35+03:00,30.322,1421,0,0.000000,0.000000,0.500000,0.000000
2006763,user_9999986,video_2039745,2023-08-21 15:06:50+03:00,251,0,NaN,NaN,NaN,NaN,Shein ОЖИДАНИЕ/РЕАЛЬНОСТЬ,...,"Разговорное видео о том , куда я трачу свои де...",Лайфстайл,2022-01-10 14:31:43+03:00,738.734,5571,0,0.000000,0.000000,0.000000,0.000000

In [146]:
hack = df2.copy(deep=True)

In [147]:
hack['pos_emo'].unique()

array([nan, 'Like', 'Heart', 'New_Fire', '', 'Laugh',
       'Happy_Star_glasses', 'Happy_glasses'], dtype=object)

In [148]:
# top = 1.3 - есть реакция, 1 - нет реакции
# pos = 1.2 - есть реакция, 1 - нет реакции
hack['new_is_v_top'] = np.where(hack['is_v_top'] == 1, 1.3, 1)
hack['new_pos_emo'] = np.where(hack['pos_emo'].isna(), 1, 1.2)
hack = hack.drop(columns={'is_v_top', 'pos_emo'})
hack = hack.rename(columns={'new_is_v_top':'is_v_top', 'new_pos_emo':'pos_emo'})

In [1]:
hack['pos_emo'].unique()

NameError: name 'hack' is not defined

In [153]:
len(hack['item_id'].unique())

261269